Malformed TXT record

The encoded TXT RDATA response (see [RFC 1035](https://tools.ietf.org/html/rfc1035) section 3.3.14) is malformed.  The TXT-DATA should be an array of `<character-string>`, NOT just a string. Each `<character-string>` has a length prefixed byte followed by the UTF-8 string.  The array is terminated with a NUL byte.

https://github.com/mafintosh/dns-packet/blob/master/index.js#L294 needs a fix.

>  The TXT-DATA should be an array of <character-string>, NOT just a string. Each <character-string> has a length prefixed byte followed by the UTF-8 string. The array is terminated with a NUL byte.

Where are you sourcing this from? RFC 1035 is severly outdated and was updated many times by other RFCs. UTF-8 didn't exist when this RFC was written. Can you find the latest version that describes these TXT records and link it?

Found something more up to date: https://tools.ietf.org/html/rfc4408#section-3.1.3

> If a published record contains multiple strings, then the record MUST be treated as if those strings are concatenated together without adding spaces.

IIRC, this change was done so that TXT records longer than 255 bytes can be represented, and I think we should transparently join buffers for records like that. See https://github.com/mafintosh/dns-packet/issues/24 as to why we use a buffer over a string.

See http://www.zeroconf.org/rendezvous/txtrecords.html

> The format of the data within a DNS TXT record is zero or more strings, packed together in memory without any intervening gaps or padding bytes for word alignment.

>The format of each constituent string within the DNS TXT record is a single length byte, followed by 0-255 bytes of text data.

>These format rules are defined in Section 3.3.14 of RFC 1035, and are not specific to DNS-SD. DNS-SD simply specifies a usage convention for what data should be stored in those constituent strings.

@silverwind No it's not to allow larger strings.  TXT records are now used for service discovery.  Each string is typically a name-value pair describing an attribute of a service instance.

Yes, I agree with you on #24.  RFC 4408 clearly states that it could be binary data.  But it is referring to the `<character-string>` not the array held by the rtxt data.

I wouldn't decode these name-value pairs in this module. Most applications today use TXT records as single values, so I would leave the decoding of the pairs to the user.

Also, I wouldn't expose the individual "constituent strings" to the user. They should receive a single concateneted buffer of all constituents.

Agree with you on name-value pairs, let's leave it to the app.  However, RFC 1035 clearly states that TXT data is an array of length prefixed 'strings' and no other RFC negates this.

My PR is only about encoding, if given a single string then encode according to the spec.  The decoding just returns a Buffer as always.

However, it may be more "correct" to return an array of buffers when decoding.

>  However, RFC 1035 clearly states that TXT data is an array of length prefixed 'strings' and no other RFC negates this.

I still don't get why this would be significant to the user. The only real-world use case I've seen for this is to get around the 255-byte limit of individial TXT strings, and for that I don't see why we shouldn't transparently concatenate. Are there any other uses where these "parts" are significant?

We need this because the current encoding of a string value is wrong according to the spec and using `{ data: Buffer('foo') }` is also wrong.  The data must be length prefixed and  terminated by a NUL byte.

Sorry but the encoding is just not following the spec!

> Are there any other uses where these "parts" are significant?

Please read https://tools.ietf.org/html/rfc6763#section-6.3

Ah, so the individual parts are needed to have a separator between the key-value pairs, I see what you mean.

Can you show a example on how `dig` or similar tools decode this? My intuition was to separate on space, but that appears to be a significant character according to that RFC.

Don't know about `dig`, pls give link.  

The spec is ver clear and not open to 'intuition'.  The TXT data contains length prefixed strings (ascii, utf8, binary, ...) and a NUL byte is used to terminate the data.

[dig](https://en.wikipedia.org/wiki/Dig_(command)) is pretty much the standard tool for querying DNS on the command line, you need a server to query thought.

I was thinking that we could return a single buffer if no parts are found and switch to an array if there are some, but that would be inconsistent. Another option is just return the buffer including the null bytes. @mafintosh any preference?

I'm starting to thinking that on return an array of buffers is always returned for consistency.  Each buffer is just the `<character-string>` so binary data can be supported.

On input, accept string, string[], buffer, buffer[].  Encoder will added length prefix and trailing NUL.  It will also throw if the string/buffer is greater than 255 bytes.

I prefer a consistent api also. Someone should open a pr so we can discuss the details there

@mafintosh Here's my original PR https://github.com/mafintosh/dns-packet/pull/26

It is NOT consitent.

I haven't checked what the code currently does, but I see two options:

1) The low-level approach: Return buffers that include the null bytes and let the users split the parts. This would maintain backward compatibilty and probably be easier to maintain in the long run.

2) The high-level approach: Split the buffer on the null bytes, always return an array. This would break backward compatibilty and would only server a purpose for DNS-SD, as most other use cases of TXT records use multi-part TXT records, except for records longer than 255 bytes which is very rare.

@silverwind A few misconceptions
- NUL byte is only used to signal end of array, thus a Buffer of length zero can never be encoded!
- TXT records, by definition RFC 1035, contain an array of `<character-string>`.
- Each `<character-string>` must be length prefix.

This means that the current practice of setting the data to just `Buffer('some string')`  or `'some string'` generates a malformed TXT record, because the data is not length prefixed nor ends with a NUL byte.  It has nothing to do with DNS-SD.

So maintaining backward compatibility should not be an issue, because the current usage does not generated a well formed TXT record!

Fixed in https://github.com/mafintosh/dns-packet/commit/d58cdb341901b15d1b27cd6190924cc78ced2575.